# test requirements
pylama
pytest
pytest-cov
tox
mock
pyyaml

git+https://github.com/findhotel/analytics-python
#git+https://github.com/findhotel/kinesisutils
-e /Users/germangh/kinesisutils

-r requirements-processor.txt
-e .
